.form-element {
    padding-bottom: 1em;
}

input {
    width: 70%;
}

label {
    width: 30%;
    display: inline-block;
}

.form-element {
}

.loginForm {
    margin: auto;
}

body {
    background-color: #28506e;
    padding: 0;
    margin: 0;
}

/**
Grid Component
 */

.grid {
    width: 100%;
}

.grid tr:nth-child(odd) {
    background: #ffffff;
}

.grid tr:nth-child(even) {
    background: #dedede;
}

.grid table tr.grid-row-selected {
    background: #2f83a4;
}

/*
Panel Componet
 */

.panel  {
    display: flex;
}

.panel-horizontal {
    flex-direction: row;
}

.panel-vertical {
    flex-direction: column;
}

/*
Upload component
 */

.dialog {
    background: #f8f8f8;
    display: block;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 50%;
    width: 25%;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 5px rgba(0,0,0,0.1);
}
.confirmation-bar {
    text-align: right;
}

/**
PictureViewer
 */
.picture-viewer ul {
    list-style: none;
    padding: 0;
    margin: 0 10px;
    text-align: center;
}

.picture {
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 5px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    max-width: 240px;
    padding: 10px;
    margin: 6px;
    background-color: #CCCCCC80;
}

.picture-title {
    font-weight: bold;
    height: 1.5em;
    overflow: hidden;
    color: white;
}

.picture-image {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

/**
Toolbar
 */

.toolbar {
    background-color: #2f83a4;
}

.toolbar > button {
    border: none;
    color: white;
    padding: 20px;
    background-color: #2f83a4;
}

.toolbar > button:hover {
    background-color: #33bee0;
}
